
.header {
	padding: 1em;
	font-family: Verdana;
}


table {
	margin: auto;
	border: #000000 1px solid;
	border-collapse: collapse;
	background-color: #EEEEEE;
}

tr:hover {
	background-color: #EECEEE;
}

th {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border: #000000 1px solid;
}

td {
	# white-space: pre-wrap;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border: #000000 1px solid;
}